<%- include('../partials/header') %>
<article class="content-page">
  <h1 class="page-title"><%= heading %></h1>
  <p class="lead"><%= body %></p>
  <p class="cta-line"><a href="/"><i class="fa-solid fa-arrow-left"></i> Back to Home</a></p>
</article>
<%- include('../partials/footer') %>
